@import url("./index.css");
@import url("./trends.css");
@import url("./search.css");
@import url("./songList.css");

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:root {
    --primary: #f1f1f1;
    --secondary: #fcfcfc;
    --tertiary: #ffffff;
    --accent: #1cb955;
    --bg-gray: #dadada;
    --bg-gray-dark: #787777;
    --content-primary: #101010;
    --audio-progress: 0%;
    --volume-progress: 0%;
}

body {
    padding: 18px;
    background-color: var(--primary);
}

.container {
    display: flex;
    height: calc(100%);
    width: calc(100%);
    gap: 18px;
}

.aside {
    /* background-color: red; */
    flex: 0.7;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.aside section {
    background-color: var(--tertiary);
    border-radius: 8px;
    padding: 16px 16px;
}

/*---------- 1st Section-------- */
.aside section:first-child {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile>div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile>div>.image>img {
    border-radius: 50%;
    width: 60px;

}

.profile>i:first-of-type {
    background-color: var(--tertiary);
    padding: 12px;
    border-radius: 4px;
    font-weight: 900;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.077);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.077);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.355);
}


.profile>div:first-of-type h5 {
    color: var(--accent);

}

/* ----Library- Section 2 div 1st----- */
.aside section:nth-of-type(2) {
    flex: 4;
    flex-direction: column;
    display: flex;
    padding: 24px;
}

.aside section:nth-of-type(2)>div {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.aside .library {
    gap: 8px;
}

.library div>.playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.library div>.playlistIcon {
    all: unset;
    display: flex;
    align-items: center;
}

.library div>.playlist>i {
    font-size: 32px;
}

.library div>.playlistIcon>i {
    font-size: 32px;
}

.library div>.playlist p:first-of-type {
    font-size: 20px;
    font-weight: bold;
}

/* ==============Musiclist Section 2 div 2nd========== */

.aside section:nth-of-type(2)>#library {
    flex: 1;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    gap: 8px;
}

.musiclist {
    flex: 1;
    display: flex;
    border-radius: 4px;
    background-color: var(--primary);
    padding: 12px;
    justify-content: space-between;
}

#library>.musiclist .music>img {
    border-radius: 4px;
}


#library>.musiclist .music {
    display: flex;
    justify-content: space-between;
}

.library>#library>.musiclist>div:first-child {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.library>#library>.musiclist>div .head1>h5 {
    font-size: 20px;
    font-weight: 600;
}

.musiclist>.icon {
    display: flex;
    align-items: start;
}

.musiclist i:last-of-type {
    all: unset;
    color: var(--accent);
    font-size: 28px;
    font-weight: 600;
}

/*===== Section 3rd===== */
.aside section:nth-of-type(3) {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.play {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    justify-content: center;
    gap: 8px;

}


.play>.song {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    border-radius: 4px;
    padding: 12px;
    font-size: 28px;

}


.song>i:nth-of-type(2) {
    color: var(--accent);
}

.song img {
    border-radius: 4px;
    height: 180px;
    width: 180px;
}

.playIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.songName {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.playIcon>i:first-child {
    font-size: 32px;
}

.play .playIcon>.midIcon i {
    font-size: 36px;
}

.play .playIcon i:nth-of-type(2) {
    font-size: 32px;
}

.playIcon .midIcon {
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.595);
    border-radius: 50%;
}

/*--------Audio Play Section 3rd---------------*/
.aside .audioPlay {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    padding: 0px 8px;
}

.audioPlay>div {
    flex: 1;
    position: relative;

}

.audioPlay>input[type="range"] {
    position: relative;
    flex: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    height: 4px;
    background-color: var(--bg-gray);
    border-radius: 4px;
    outline: none;
}

.audioPlay>input[type="range"]::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: var(--audioProgress);
    height: 4px;
    background-color: var(--bg-gray-dark);
    cursor: pointer;
    border-radius: 4px;
}

.audioPlay>input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: var(--bg-gray-dark);
    border-radius: 50%;
    z-index: 999;
}


/*//// Last ICONS //// */
.lastIcons {
    flex: 1;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.lastIcons>div {
    /* flex: 1; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 20%;

}

.lastIcons>div>span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f1f1f1;
}

.lastIcons>div>input[type="range"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    height: 4px;
    background-color: #AEB6BF;
    border-radius: 4px;
    outline: none;
    width: 100%;
}

.lastIcons>div>input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #AEB6BF;
    border-radius: 50%;
}

@media screen and (max-width: 570px) {
    .aside {
        display: none;
    }

    aside>section:first-child>.profile i:first-of-type {
        display: block;
    }
}

/* main */
main {
    overflow-y: auto;
    flex: 2.3;
    background-color: var(--tertiary);
    border-radius: 12px;
    /* gap: 12px; */
    display: flex;
    /* width: 100%; */
    height: 100%;
    padding: 16px;
    flex-direction: column;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    display: none;
}

.main {
    display: flex;
    height: auto;
    padding: 16px;
    flex-direction: column;
    box-sizing: border-box;
}

/* main navbar */
.main>section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px 0px 12px 0px;
}

/* .navbar {
    gap: 16px;
    position: fixed;
    left: 1160px;
    z-index: 1;
} */

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.5px);
    background-color: rgba(255, 255, 255, 0.7);
    /* required */
}

nav>div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar>div {
    padding: 8px 12px;
    border-radius: 24px;

}

.navbar>div>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    gap: 8px;
}

.navbar>div>a>i {
    font-weight: 900;
    font-size: 24px;
}

input[type="search"] {
    border: none;
    outline: none;
    background-color: transparent;
}

.navbar>div>a>span,
.navbar>div>a>span>input {
    display: none;
}

.navbar>div>a.active {
    background-color: var(--primary);
    padding: 8px 12px;
    border-radius: 20px;
    color: var(--accent);
}

.navbar>div>a.active>span,
.navbar>div>a.active>span>input {
    display: block;
}